[Desktop Entry]
Name=KLConvert
Comment=Keyboard layout conventer for X11
Comment[ru]=Конвертор раскладки для X11
Version=1.0
Exec=/usr/bin/klconvert
Icon=klconvert
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;